<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      body{
          background: #1a0c50;
      }
      .button {
          border: 2px solid #6a95ea;
          background-color: rgba(7, 8, 35, 0.7);
          border-radius: 10px;
          margin-top: 20px;
          margin-right: 20px;
          color: white;
          padding: 16px 20px;
          cursor: pointer;
          opacity: 0.8;
          width: 140px;
          font-size: 12px;
          text-decoration: none;
      }
      .link-text{
          text-decoration:none;
          color:white;
      }
  </style>
</head>
<body class="text-white">
<p style="color: green"><%= notice %></p>

<h1><icon class="bi bi-globe"></icon> Campi</h1>

<div id="diretorios">
  <% @campi.each do |campi| %>
    <p>
      <icon class="bi bi-folder"/>
      <%= link_to campi.name, campi, class:"link-text" %>
    </p>
  <% end %>
</div>
<br/>
</body>
