<h1>Editing diretorio</h1>

<%= render "form", diretorio: @diretorio %>

<br>

<div>
  <%= link_to "Show this diretorio", @diretorio %> |
  <%= link_to "Back to diretorios", diretorios_path %>
</div>
