<h1>Editando Diretório</h1>

<%= render "form", diretorio: @diretorio %>

<br>

<div>
  <%= link_to "Mostrar", @diretorio %> |
  <% if not !Current.user %>
    <%= link_to "Voltar para Meus Diretorios", '/meusDiretorios'%>
  <% end %>
  <% if not Current.user %>
    <%= link_to "Voltar ao Índice", diretorios_path %>
  <% end %>
</div>
