<h1>Novo Diretório</h1>

<%= render "form", diretorio: @diretorio, parent: @diretorio_parent_id %>

<br>

<div>
  <% if not !Current.user %>
    <%= link_to "Voltar para Meus Diretorios", '/meusDiretorios'%>
  <% end %>
  <% if not Current.user %>
    <%= link_to "Voltar para Diretorios", diretorios_path %>
  <% end %>
</div>
